<template>
  <div class="detail">
    <fHeader />
    <div>
      <p>test</p>
    </div>
    <fFooter />
  </div>
</template>

<script>
// @ is an alias to /src
import fHeader from '@/components/fHeader.vue';
import fFooter from '@/components/fFooter.vue';
// import axios from "axios";
// import carousel from 'vue-owl-carousel';

export default {
  name: 'Detail',
  components: {
    fHeader,
    fFooter 
  },
}
</script>

