<template>
  <div class="home">
<fHeader />
<hHomepage />
<hTable />
<fFooter />
<!-- <fHero /> -->
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import fHeader from '@/components/fHeader.vue'
// import fHero from '@/components/fHero.vue'
import hHomepage from '@/components/hHomepage.vue'
import hTable from '@/components/hTable.vue'
import fFooter from '@/components/fFooter.vue'

export default {
  name: 'Home',
  components: {
    fHeader,
    // fHero,
    hHomepage,
    hTable,
    fFooter
  }
}
</script>
