<template>
    <div v-if="football.length > 0">
      <div v-for="itemFootball in football" :key="itemFootball.id">
        <b-container class="bv-example-row">
          <v-card class="mx-auto" max-width="344" outlined >
            <b-row>
                <v-list-item three-line>
                  <b-col>
                    <v-list-item-content>
                        <v-list-item-title class="headline mb-1">{{ itemFootball.name }}</v-list-item-title>
                        <v-list-item-subtitle>{{ itemFootball.countryCode }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </b-col>
                </v-list-item>
            </b-row>
          </v-card>
        </b-container>
      </div>
  </div>
  <div v-else>
    <p>
      data tidak ada
    </p>
  </div>
</template>

<script>
import axios from "axios";

export default {
    name: "fCard",
    data() {
      return {
        football: []
      };
    },
    mounted(){
      axios
       .get("https://api.football-data.org/v2/areas/2267")
      //  , {
      //   //  headers: {
      //   //     "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,PATCH,OPTIONS",
      //   //     "Access-Control-Allow-Origin": "*",
      //   //     "Access-Control-Allow-Headers": "Authorization",
      //   //     "Authorization": football,
      //   //     "Content-Type": "application/json"
      //   //  }
      //  }
       
       .then(res => (this.football = res.data.childAreas))
       // eslint-disable-text-line no-console
       .catch(err => console.log(err))
    }
}
</script>