<template>
    <div>
        <footer class="footer-section text-left">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<div class="social-links">
						<a href=""><i class="fa fa-instagram"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
    </div>
</template>

<script>
export default {
    name: "fFooter"
}
</script>