<template>
    <div>
        <b-container>
            <b-row class="justify-content-md-left">
                <b-col col lg="2" style="margin-top: -5px;">
                    <img src="/img/pay.png" style="margin-botton: 10px;" width="60px" height="60px" alt="pay">
                </b-col>
                <b-col cols="12" md="auto">
                    <h1>Rp10.000.000</h1>
                </b-col>
                <b-col col lg="2">
                    <b-button variant="outline-primary">Topup</b-button>
                </b-col>
            </b-row>
        </b-container>
                <p style="align: left;">Request service :</p>
        <b-container fluid class="bv-example-row">
            <b-row>
                <b-col sm="9" class="justify-content-md-left">
                <b-row>
                    <b-col cols="8" sm="6">
                        <a v-b-modal.modal-scrollable href="#about">
                            <img src="/img/doctor.png" border="10" alt="doctor" width="40px" height="40px">
                                <figcaption class="doctor">Doctor</figcaption>
                        </a>
                        <b-modal id="modal-scrollable" ref="myModalDoc" scrollable title="Doctor" ok-title="Next">
                            <div>
                                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                                <b-form-group
                                    id="input-group-1"
                                    label="Email address:"
                                    label-for="input-1"
                                    description="We'll never share your email with anyone else."
                                >
                                    <b-form-input
                                    id="input-1"
                                    v-model="form.email"
                                    type="email"
                                    required
                                    placeholder="Enter email"
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                                    <b-form-input
                                    id="input-2"
                                    v-model="form.name"
                                    required
                                    placeholder="Enter name"
                                    ></b-form-input>
                                </b-form-group>
                                
                                <b-form-group id="input-group-2" label="Telephone" label-for="input-2">
                                    <b-form-input
                                    id="input-2"
                                    v-model="form.telp"
                                    required
                                    placeholder="Enter Number Telephone"
                                    ></b-form-input>
                                </b-form-group>
                                <b-form-group label="Gender">
                                    <b-form-radio v-model="selected" name="some-radios" value="A">Male</b-form-radio>
                                    <b-form-radio v-model="selected" name="some-radios" value="B">Female</b-form-radio>
                                </b-form-group>

                                <b-form-group id="input-group-3" label="Category Doctor:" label-for="input-3">
                                    <b-form-select
                                    id="input-3"
                                    v-model="form.food"
                                    :options="foods"
                                    required
                                    ></b-form-select>
                                </b-form-group>

                                <b-form-group id="input-group-3" label="Notes" label-for="input-3">
                                    <b-form-textarea
                                        id="textarea"
                                        v-model="text"
                                        placeholder="Enter something..."
                                        rows="3"
                                        max-rows="6"
                                    ></b-form-textarea>
                                </b-form-group>

                                <b-button type="submit" variant="primary">Submit</b-button>
                                <b-button type="reset" variant="danger">Reset</b-button>
                                </b-form>
                                <b-card class="mt-3" header="Form Data Result">
                                <pre class="m-0">{{ form }}</pre>
                                </b-card>
                            </div>
                        </b-modal>
                    </b-col>
                    <b-col cols="1">
                        <a v-b-modal.modal-scrollable-med href="#about">
                            <img src="/img/drug.png" border="10" alt="medicine" width="40px" height="40px">
                                <figcaption class="doctor">Medicine</figcaption>
                        </a>
                          <b-modal id="modal-scrollable-med" scrollable hide-footer title="Medicine" ok-title="Next">
                            <div>
                                <b-form v-if="show">
                                <b-form-group
                                    id="input-group-1"
                                    label="Email address:"
                                    label-for="input-1"
                                    description="We'll never share your email with anyone else."
                                >
                                    <b-form-input
                                    id="input-1"
                                    v-model="form_med.email_med"
                                    type="email"
                                    required
                                    placeholder="Enter email"
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                                    <b-form-input
                                    id="input-2"
                                    v-model="form_med.name_med"
                                    required
                                    placeholder="Enter name"
                                    ></b-form-input>
                                </b-form-group>
                                
                                <b-form-group id="input-group-2" label="Telephone" label-for="input-2">
                                    <b-form-input
                                    id="input-2"
                                    type="number"
                                    v-model="form_med.telp_med"
                                    required
                                    placeholder="Enter Number Telephone"
                                    style="width: 100%;"
                                    ></b-form-input>
                                </b-form-group>
                                <b-form-group label="Gender">
                                    <b-form-radio v-model="selected" name="some-radios" value="A">Male</b-form-radio>
                                    <b-form-radio v-model="selected" name="some-radios" value="B">Female</b-form-radio>
                                </b-form-group>

                                <b-form-group id="input-group-3" label="Notes" label-for="input-3">
                                    <b-form-textarea
                                        id="textarea"
                                        v-model="text"
                                        placeholder="Enter something..."
                                        rows="3"
                                        max-rows="6"
                                    ></b-form-textarea>
                                </b-form-group>
                                  <label>Category</label>
                                <b-form-group  id="add-item" v-for="(dropdown, d) in dropdowns" :key="d">
                                  <b-container class="bv-example-row">
                                    <b-row>
                                      <b-col col lg="2">
                                        <button @click="deleteRow(d, dropdown)"><img src="img/trash.png" width="20px" height="20px" alt="delete"></button>
                                      </b-col>
                                      <b-col>
                                          <div>
                                            <b-form-select style="border-width: 0 0 1px; outline: 0;" required v-model="selected.category" :options="options"></b-form-select>
                                            </div>
                                      </b-col>
                                      <b-col col lg="2">
                                        <b-form-input style="border-width: 0 0 1px; outline: 0; width: 100%;" v-model="selected.quantity" required type="number" placeholder="Qty"></b-form-input>
                                      </b-col>
                                    </b-row>
                                  </b-container>
                                </b-form-group>
                                <center>
                               <button variant="outline-primary" style="color: blue;" @click="addNew" >Add item</button>

                                </center>
                              

                               <hr><button @click="showModal">Next</button>

                              <!-- <img src="/img/add.png" @click="addNew" style="margin-botton: 10px;" width="30px" height="30px" alt="pay"> <br> -->
                                <!-- <b-button type="submit" variant="primary">Submit</b-button>
                                <b-button type="reset" variant="danger">Reset</b-button> -->
                                </b-form>
                                <!-- <b-card class="mt-3" header="Form Data Result">
                                <pre class="m-0">{{ form }}</pre>
                                </b-card> -->
                            </div>
                        </b-modal>
                    </b-col>
                    <!-- <b-col cols="4" sm="6">Level 2: cols="4" sm="6"</b-col> -->
                </b-row>
                </b-col>
            </b-row>
          </b-container>
          <div>
      </div>
    </div>
</template>


<script>
import 'vue-select/dist/vue-select.css';
  export default {
    name: 'hHomepage',
    components: {
        
    },
    data() {
      return {
        options: [
          { value: null, text: 'Please select some item' },
          { value: 'a', text: 'This is First option' },
          { value: 'b', text: 'Default Selected Option' },
          { value: 'c', text: 'This is another option' },
          { value: 'd', text: 'This one is disabled', disabled: true }
        ],
        selected: '',
        e1: 'Florida',
        e2: 'Texas',
        e3: null,
        e4: null,
        dropdowns: [{
          dropdownn: '',
        }],
        states: [
          'Alabama', 'Alaska', 'American Samoa', 'Arizona',
          'Arkansas', 'California', 'Colorado', 'Connecticut',
          'Delaware', 'District of Columbia', 'Federated States of Micronesia',
          'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
          'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
          'Louisiana', 'Maine', 'Marshall Islands', 'Maryland',
          'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
          'Missouri', 'Montana', 'Nebraska', 'Nevada',
          'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
          'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio',
          'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico',
          'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
          'Texas', 'Utah', 'Vermont', 'Virgin Island', 'Virginia',
          'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
        ],
        form: {
          email: '',
          name: '',
          telp: '',
          food: null,
          checked: []
        },
        form_med: {
          email_med: '',
          name_med: '',
          telp_med: '',
        },
        foods: [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
        show: true
      }
    },
        invoice_products: [{
 name: '',
 quantity: '',
        }],
    methods: {
   addNew(){
     this.dropdowns.push({
       dropdownn: '',
     })
   },
   showModal () {
        this.$refs.myModalRef.show()
      },
         showDoc () {
        this.$refs.myModalDoc.show()
      },
      hideModal () {
        this.$refs.myModalRef.hide()
      },
   deleteRow(index, dropdown) {
            var idx = this.dropdowns.indexOf(dropdown);
            console.log(idx, index);
            if (idx > -1) {
                this.dropdowns.splice(idx, 1);
            }
        },
      // onSubmit(evt) {
      //   evt.preventDefault()
      //   alert(JSON.stringify(this.form))
      //   alert(JSON.stringify(this.form_med))
      // },
      // onReset(evt) {
      //   evt.preventDefault()
      //   // Reset our form values
      //   this.form.email = ''
      //   this.form.name = ''
      //   this.form.telp = ''
      //   this.form.food = null
      //   this.form.checked = []
      //   this.form_med.email_med=''
      //   this.form_med.name_med = ''
      //   this.form_med.telp_med = ''
      //   // Trick to reset/clear native browser form validation state
      //   this.show = false
      //   this.$nextTick(() => {
      //     this.show = true
      //   })
      // }
    }
  }
</script>


<style>
body {
  font-family: "Lato", sans-serif;
}

.doctor{
color: #818181;
margin-top: 15px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
</style>
