
<template>
  <div>
    <b-form-input style="border-width: 0 0 1px; outline: 0;" v-model="text" type="number" placeholder="Qty"></b-form-input>
    <b-table striped hover :items="items"></b-table>
  </div>
</template>

<script>
  export default {
      name: 'hTable',
    data() {
        return {
            fields: [
                'id',
                { key: 'transaction_date', label: 'Transaction Date' },
                'email', 
                { key: 'no_telp', label: 'Telephone' },
                'items',
                { key: 'total_amount', label: 'Total Amount' },
                'status' 
            ],
            items: [{ 
                id: '01', 
                transaction_date: '20 April 2020', 
                no_telp: '08190909090',
                items: 'paracetamol',
                total_amount: '20000',
                status: 'pending'},
                { 
                id: '01', 
                transaction_date: '20 April 2020', 
                no_telp: '08190909090',
                items: 'paracetamol',
                total_amount: '20000',
                status: 'pending'},
                
            ],
            
        }
    }
  }
</script>